* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*.parallax {
	background: url("./food.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 75vh;
}
*/
.fontguy {
	font-family: 'Luckiest Guy', cursive;

}
.fonthandlee {
	font-family: 'Handlee', cursive;
}

.fontnanum {
	font-family: 'Nanum Pen Script', cursive;
}

#navlogo {
	font-size: 45px;
	color: #C9A0DC;
	padding-left: 10vh;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A455FF;

}

.navitems {
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
	background-color: #681DFF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}


.jumbotron {
	background-color: #A455FF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	background-position: center;
	margin: 1px;
}

#jumbocolor {
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A455FF;
    text-align: center;
}

.photojumbo {
	display: flex;
	text-align: center;
	justify-content: center;
}


.tools1 {
	text-align: center;
	margin-bottom: 0px;
}

.tools1 h1 {
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: -10px;
}


.jumbotron2 {
	background-color: #FFBAFF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	background-position: center;
	margin: 1px;
	padding: 5vh;
}

















@media (min-width: 320px) {
	.jimage {
		width: 250px;
	}
	#navlogo{
		padding-left: 1vh;
	}
	.navbar-nav {
		align-items: center;
	}
	.jumbotron {
		height: 70vh;
		padding-top: 14vh;
	}
	.iconpack {
		width: 80px;
	}
	.aboutpic {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	}

}


@media (min-width: 375px) {
	.jimage {
		width: 325px;
		height: auto;
	}
	#navlogo{
		padding-left: 1vh;
	}
	.jumbotron {
		height: 70vh;
		padding-top: 14vh;
	}
	.iconpack {
		width: 88px;
	}

}

@media (min-width: 425px) {
	.jimage {
		width: 370px;
		height: auto;
	}
	.iconpack {
		width: 100px;
	}
}

@media (min-width: 768px) {
	.jimage {
		width: 650px;
		height: auto;
	}
	.navbar-nav {
		align-items: center;
	}
	.navlogo {
		align-items: center;
	}
	.jumbocol1 h1 {
		font-size: 7vh;
	}
	.jumbocol1 p {
		font-size: 3vh;
	}
	.jumbotron {
		height: 100vh;
		padding-top: 20vh;
	}
	.aboutpic {
	width: 30%;
	}
}


@media (min-width: 1024px) {
	.jimage {
		padding-top: 10px;
	}

	#navlogo{
		padding-left: 10vh;
	}
	.jumbocol1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.jumbocol1 h1 {
		font-size: 6vh;
	}
	.jumbocol1 p {
		font-size: 3vh;
	}
	.jumbotron {
		height: 72vh;
		padding-top: 16vh;
	}
	.iconpack {
		width: 150px;
	}
	.aboutme {
	text-align: right;
	}
	.aboutpic {
	width: 90%;
	}
	
}

@media (min-width: 1200px) {
	.jimage {
		width: 550px;
		height: auto;
	}
	.jumbocol1 h1 {
		font-size: 8vh;
	}
	.jumbocol1 p {
		font-size: 3.5vh;
	}
	.jumbotron {
		height: 75vh;
		padding-top: 15vh;
	}
	.aboutpic {
	width: 60%;
	}
}


