* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fontguy {
	font-family: 'Luckiest Guy', cursive;

}
.fonthandlee {
	font-family: 'Handlee', cursive;
	color: whitesmoke;
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #A455FF;
}

.fontnanum {
	font-family: 'Nanum Pen Script', cursive;
}

.fontroboto {
	font-family: 'Roboto', sans-serif;
}

#navlogo {
	font-size: 45px;
	color: white;
	padding-left: 10vh;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A455FF;

}

.navitems {
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
	background-color: #681DFF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}


.jumbotron, .congalcon {
	background-color: #A455FF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	background-position: center;
	margin: 1px;
}

#jumbocolor {
    text-align: center;
}

.jumbocolout {
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A455FF;
}

.btn-home {
	background-color: #d1b4fa;
	padding: 0;
	color: white;
	border-radius: 20px;
	font-size: 20px;
}

.photojumbo {
	display: flex;
	text-align: center;
	justify-content: center;
}


.tools1 {
	text-align: center;
	margin-bottom: 0px;
}

.tools1 h1 {
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: -10px;
	color: #D198F9;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A455FF;
}


.jumbotron2 {
	background-color: #000098;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	background-position: center;
	padding: 5vh;
}

.jumbotron2 h1 {
	color: white;
}

.tools2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.jimage {
	width: auto;
}

.aboutpic {
	box-shadow: white;
	border:2px solid whitesmoke;
}

#j2h3 {
	color: white;
}

.colabout {
	display: flex;
	justify-content: center;
}


.aboutpic {
	width: 20%;
	margin-bottom: 20px;
}


.logosul {
	display: flex;
	justify-content: center;
}

.logosul li {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.logos img {
	width: 30px;
	height: 30px;
	margin-bottom: 25px;
	
}

.rowgal {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.rowgal .col {
	flex: 100%;
	width: auto;
	overflow: hidden;
	padding: 0 4px;
	height: 100%;
}

.rowgal .col img {
	margin-top: 2%;
	width: 100%;
	height: 100%;
	cursor: pointer;
	filter: grayscale(1) brightness(0.5);
	border-radius: 5px;
	transition: 0.3s linear;
}

.rowgal .col img:hover {
	filter: grayscale(0) brightness(1);
}

.congal {
	padding-top: 1vh;
	padding-bottom: 1vh;
	color: #6c3ec2;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A455FF;
}


.conexp {
	background-color: #DE87FF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

.conexp .row .col {
	flex: 100%;
	text-align: center;
}

.cardexp {
	opacity: 0.6;
	background-color: #ffffff;
}

.expbody {
	display: flex;
	flex-direction: column;
}

.colgate {
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

.expli {
	text-align: left;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.expli {
	align-items: center;
}

#expcol1, #projcol1, #projcol2, #projcol3 {
	margin-bottom: 12px;
}

.card-title, ul, .card-header{
	font-weight: bold;
	color: #000000;
	font-family: 'Handlee', cursive;
}

.conexp {
	height: 980px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#expcol1, #expcol2 {
	display: flex;
	align-items: center;
}

.btn-home2 {
	background-color: #d1b4fa;
	padding: 0;
	color: white;
	border-radius: 20px;
	font-size: 20px;
	border-color: #6c3ec2;
}

#gallerybutton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2vh;
}

.conproj {
	background-color: #000098;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}


.maps {
	height: 80vh;
}

.concont {
	background-color: #A455FF;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

#colcont1, #colcont2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contfoot {
	background-color: #000098;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

#confoot1, #colfoot2,{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.confoot1 h2 {
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A455FF;
}

.footp {
	color: inherit;
}

.underfoot {
	font-family: 'Handlee', cursive;
}








@media (min-width: 320px) {
	.jimage {
		width: 40vh;
		margin-top: 10vh;
	}
	#navlogo{
		padding-left: 1vh;
	}
	.navbar-nav {
		align-items: center;
	}
	.jumbotron {
		height: 100vh;
		padding-top: 14vh;
	}
	.iconpack {
		width: 80px;
	}
	.aboutpic {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	}
	.jumbocol1 {
		padding-top: 10vh;
	}

}


@media (min-width: 375px) {
	#navlogo{
		padding-left: 1vh;
	}
	.jumbotron {
		padding-top: 12vh;
	}
	.iconpack {
		width: 88px;
	}
	.conexp {
		height: 980px;
	}
}

@media (min-width: 425px) {
	.jimage {
		width: 45vh;
	}
	.iconpack {
		width: 100px;
	}
	.jumbotron {
		padding-top: 12vh;
	}
	.logos img {
		width: 45px;
		height: 45px;
	}
	#expcol1, #expcol2 {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 500px) {
	.jimage {
		width: 55vh;
}

@media (min-width: 625px) {
	.jimage {
		width: 65vh;
		margin-top: 5vh;
}


@media (min-width: 768px) {
	.jimage {
		width: 80vh;
		padding-top: 10px;
	}
	.navbar-nav {
		align-items: center;
	}
	.navlogo {
		align-items: center;
	}
	.jumbocol1 h1 {
		font-size: 7vh;
	}
	.jumbocol1 p {
		font-size: 3vh;
	}
	.jumbotron {
		padding-top: 7vh;
	}
	.logos img {
		width: 60px;
		height: 60px;
		margin-bottom: 30px;
	}

	.conexp {
		height: 810px;
	}

}

@media (min-width: 992px) {
	#jumbocolor {
    align-items: center;
    direction: flex;
    text-align: right;
	}
	.jimage {
		margin-top: 0;
	}
	.jumbocol1 h1 {
		font-size: 6vh;
	}
	.jumbocol1 p {
		font-size: 3vh;
	}
	.jumbotron {
		height: 77vh;
		padding-top: 16vh;
	}
	#navlogo {
		padding-left: 10vh;
	}
	#j2h3 {
		font-size: 150%;
	}
	.rowgal .col {
		flex: 33.3%;
	}
	.conexp .row .col {
		flex: 50%;
		text-align: left;
	}
	.conexp {
		display: flex;
		align-items: center;
	}

	#expcol1, #expcol2 {
		display: block;
	}
	.conexp {
		height: 490px;
	}
	.maps {
		height: 65vh;
	}
	.confoot1 {
		padding-left: 8vh;
	}
	.confoot2 {
		padding-top: 5vh;
	}
	.confoot3 {
		padding-top: 5vh;
	}
}



@media (min-width: 1200px) {
	.jimage {
		width: 80vh;
	}
	.jumbocol1 h1 {
		font-size: 8vh;
	}
	.jumbocol1 p {
		font-size: 3.5vh;
	}
	.jumbotron {
		padding-top: 15vh;
	}
	.aboutpic {
		width: 60%;
	}
	#j2h3 {
		font-size: 180%;
	}
	.logos img {
		width: 70px;
		height: 70px;
	}
}

@media (min-width: 1250px) {
	#j2h3 {
	font-size: 200%;
	}
}

@media (min-width: 1440px) {
	#j2h3 {
	font-size: 250%;
	}
}
